<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="ffmpeg" />
      <package id="jdk8" />
	  <package id="jre8" />
	  <package id="malwarebytes" />
	  <package id="vscode" />
	  <package id="vlc" />
	  <package id="git" />
	  <package id="nordvpn" />
	  <package id="sharex" />
	  <package id="coretemp" />
	  <package id="heaven-benchmark" />
	  <package id="cinebench" />
	  <package id="crystaldiskmark" />
	  <package id="yt-dlp" />
    </packages>
